body,h1, h2{
    margin: 0;
    font-family: Okra,Helvetica,sans-serif;
}
.cover{
    background-image: url(/Images/zomato_cover.avif);
    height: 70vh;
    background-size: cover;
    position: relative;
}
.site_details{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    margin-left: 30%;
    text-align: center;
    color: white;
    font-style: italic;
}
.site_description{
    margin: 20px 0 0 0;
}
.site_name{
    font-size: 60px;
    font-weight: 800;
}
.text_button{
    padding: 15px;
    width: 500px;
    border-radius: 8px 0 0 8px ;
    cursor: pointer;
}
.text_button:focus{
    background-color: rgb(245, 235, 235);
}
.search_button{
    display: flex;
    align-items: center;
    width: 70px;
    padding: 15px 1px 15px 1px;
    border-radius:0 8px 8px 0;
}
.input{
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}
.section-heading{
    margin-top: 40px;
    margin-left: 4%;
}
.card-container{
    margin-top: 20px;
    display: flex;
}
.meal-card{
    width: 20%;
    margin-left: 4%;
    border-radius: 12px;
}
.meal-card:hover{
    border: solid rgb(125, 203, 243) 1px ; 
    padding: 5px;
    
}
.meal-image{
    width: 100%;
    border-radius: 12px;
}
.meal-image:hover{
    border-radius: 12px 12px 0 0;
}
.meal-name{
    padding: 8px 0 0 8px;
}