body{
    background-color: rgb(173, 194, 240);
}

.display{
    width: 290px;
    padding :3.33px;
    border: 1px solid black;
    height: 100px;
    border-radius: 8px;
    color: wheat;
    font-size: 35px;
}
.calculator{
    width: 300px;
    border-radius: 8px;
    border: 2px solid rgb(243, 209, 164);
    background-color: black;
    margin-left: 40%;    
}
.btn-line{
    display: flex;
    margin: 2px;
}
.number, button{
    width: 95px;
    padding: 4px;
    margin: 4px;
    border: 1px solid antiquewhite;
    text-align: center;
    border-radius: 4px;
    color: antiquewhite;
    background-color: black;
    cursor: pointer;
    font-size: 20px;
}

input{
    width: 92%;
    padding: 10px;
}
.d-none{
    display: none;
}

#Areasolution{
    color: wheat;
    padding: 10px;
}